.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 28px;
  border: 0;
  font-weight: bold;
}

.primary_btn {
  background: #FFA501;
}

.btn-sm {
  padding: 0 14px;
}

.promo {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  z-index: 0;
  padding-top: 10px;
}
.promo-head {
  margin-bottom: 70px;
  padding-bottom: 70px;
}
.promo-head .title_h1 {
  margin: 10px 0 37px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .promo-head .title_h1 {
    font-size: 36px;
    margin: 17px 0 37px;
  }
}
@media (max-width: 576px) {
  .promo-head .title_h1 {
    font-size: 26px;
  }
}
.promo:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.promo .promo_name {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
}
.promo .promo_name:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.promo .fz16 {
  line-height: 24px;
}
.promo__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 245px;
}
.promo__btns a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.sidepanel {
  color: #FFA501;
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
}
@media (max-width: 1200px) {
  .sidepanel {
    display: none;
  }
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #FFA501;
}
.sidepanel__text {
  height: 150px;
  width: 37px;
  margin-right: 40px;
}
.sidepanel__text span {
  display: block;
  width: 150px;
  transform: rotate(-90deg) translate(-30%, -220%);
}
.sidepanel img {
  color: #FFA501;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
}
.hamburger span.hamburger_long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  background-color: #FFA501;
  height: 100%;
  transition: all 0.6s;
  padding: 140px 0 0 40px;
  z-index: 10;
}
@media (max-width: 576px) {
  .menu__block {
    padding: 100px 0 0 10px;
  }
}
@media (max-width: 425px) {
  .menu__block {
    width: 250px;
  }
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 15px;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #000000;
  transition: all 0.6s;
}
.menu__link:hover:before {
  background-color: #ffffff;
}
.menu__link a {
  color: #ffffff;
  text-decoration: none;
}
.menu__social {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.75;
}

.about h2 {
  margin: 20px 0 10px 0;
}
@media (max-width: 992px) {
  .about h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .about h2 {
    font-size: 24px;
  }
}
.about__wrapper {
  display: grid;
  grid-template-columns: 400px 555px;
  grid-template-rows: minmax(245px, auto) minmax(255px, auto);
  grid-auto-rows: minmax(245px, auto);
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media (max-width: 1200px) {
  .about__wrapper {
    grid-template-columns: 400px 520px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 992px) {
  .about__wrapper {
    grid-template-columns: 300px 380px;
  }
}
@media (max-width: 768px) {
  .about__wrapper {
    grid-template: 340px auto auto/1fr;
  }
}
.about_descr {
  padding-top: 8px;
}
.about_descr .divider {
  margin: 0;
}
@media (max-width: 425px) {
  .about_descr p {
    width: 350px;
  }
}
@media (max-width: 321px) {
  .about_descr p {
    width: 270px;
  }
}
.about__photo {
  grid-row: 1/3;
}
.about__title {
  position: relative;
  padding: 4px 0 0 12px;
  font-weight: bold;
  font-size: 16px;
}
.about__title:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.about__skils {
  display: grid;
  grid-template: repeat(2, minmax(130px, auto))/repeat(2, 262px);
  grid-auto-rows: 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1200px) {
  .about__skils {
    grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 992px) {
  .about__skils {
    grid-template-columns: 360px;
    grid-auto-rows: minmax(115px, auto);
  }
}
.about__skils-circle {
  position: relative;
  padding: 15px 0 0 15px;
}
.about__skils-circle:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.about__skils-circle:before {
  top: 1%;
}
.about__skils-item {
  display: grid;
  grid-template-columns: 40px 200px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1200px) {
  .about__skils-item {
    grid-template-columns: 40px 195px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 992px) {
  .about__skils-item {
    grid-template-columns: 40px 320px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 576px) {
  .about__skils-item {
    grid-template-columns: 40px 245px;
  }
}
.about__skils-item .title_h5 {
  font-weight: bold;
}
.about__skils-item .text {
  margin-top: 6px;
  font-size: 12px;
}
.about__skils .item {
  margin-bottom: 36px;
}

.resume__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 425px);
  -moz-column-gap: 135px;
       column-gap: 135px;
  padding: 15px 100px 0;
}
@media (max-width: 1200px) {
  .resume__wrapper {
    -moz-column-gap: 90px;
         column-gap: 90px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .resume__wrapper {
    grid-template-columns: repeat(2, 270px);
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 576px) {
  .resume__wrapper {
    display: block;
    padding: 0 0 0 50px;
  }
}
@media (max-width: 321px) {
  .resume__wrapper {
    padding: 0;
  }
}
.resume__column .title-h3 {
  position: relative;
  padding-left: 42px;
}
@media (max-width: 576px) {
  .resume__column .title-h3 {
    width: 100%;
  }
}
.resume__column .title-h3:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #FFA501;
  border-radius: 100%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}
.resume__column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.resume__column ul li {
  position: relative;
}
.resume__column ul li:after {
  content: "";
  width: 1px;
  height: calc(100% + 28px);
  position: absolute;
  top: -28px;
  left: 0;
  background-color: #000000;
}
.resume__item {
  position: relative;
}
.resume__item:before {
  content: "";
  height: 0.2px;
  width: 44px;
  position: absolute;
  top: 43px;
  background-color: #000000;
}
.resume__item-head {
  position: relative;
  padding: 24px 0 0 100px;
}
.resume__item-head h4 {
  margin: 0;
}
.resume__item-descr {
  font-size: 12px;
  margin: 12px 0 25px;
  padding-left: 43px;
}
@media (max-width: 576px) {
  .resume__item-descr {
    max-width: 240px;
  }
}
.resume__item-icon {
  position: absolute;
  top: 53%;
  left: 44px;
}
.resume__item-icon:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.resume__item-icon img {
  position: relative;
  left: 13px;
  top: 9px;
}
.resume__item-location {
  font-size: 12px;
  line-height: 18px;
}

.skills__header {
  text-align: center;
  margin-bottom: -10px;
}
.skills__header .divider {
  padding-left: 20px;
}
.skills__header_subtitle {
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  top: 20px;
}
.skills__header_subtitle:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.skills__header_subtitle:before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.skills__subtitle {
  text-align: center;
}
.skills__items {
  margin-top: 49px;
  padding: 9px 26px;
  display: grid;
  grid-template: repeat(2, minmax(270px, auto))/repeat(4, 270px);
  grid-auto-rows: minmax(270px, auto);
  gap: 13px;
  margin-bottom: 62px;
}
@media (max-width: 1200px) {
  .skills__items {
    grid-template: repeat(2, minmax(200px, auto))/repeat(3, 350px);
  }
}
@media (max-width: 992px) {
  .skills__items {
    grid-template: repeat(2, minmax(200px, auto))/repeat(3, 250px);
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .skills__items {
    grid-template: repeat(2, minmax(200px, auto))/repeat(2, 240px);
  }
}
@media (max-width: 426px) {
  .skills__items {
    grid-template: repeat(1, minmax(200px, auto))/repeat(1, 390px);
    padding: 0;
  }
}
@media (max-width: 321px) {
  .skills__items {
    grid-template: repeat(1, minmax(200px, auto))/repeat(1, 285px);
  }
}
.skills__item {
  border: 1px solid black;
  padding: 26px 30px;
}
@media (max-width: 1200px) {
  .skills__item {
    margin-bottom: 20px;
  }
}
.skills__item-img {
  display: flex;
  align-items: center;
  min-height: 65px;
}
.skills__item h2 {
  margin: 20px 0 !important;
}
.skills__item h4 {
  margin: 23px 0 13px;
}
.skills__item p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}
.skills__ratings {
  display: grid;
  grid-template: repeat(2, minmax(70px, auto))/repeat(3, 350px);
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 30px;
  padding: 59px 0 0 18px;
}
@media (max-width: 1200px) {
  .skills__ratings {
    grid-template: repeat(2, minmax(70px, auto))/repeat(3, 300px);
  }
}
@media (max-width: 992px) {
  .skills__ratings {
    grid-template: repeat(2, minmax(70px, auto))/repeat(2, 100px);
    -moz-column-gap: 370px;
         column-gap: 370px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .skills__ratings {
    -moz-column-gap: 210px;
         column-gap: 210px;
  }
}
@media (max-width: 576px) {
  .skills__ratings {
    grid-template: repeat(2, minmax(70px, auto))/repeat(2, 250px);
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 426px) {
  .skills__ratings {
    grid-template: repeat(1, minmax(70px, auto))/repeat(1, 267px);
    justify-content: center;
  }
}
.skills__ratings-item {
  display: grid;
  grid-template: minmax(21px, auto) 24px/200px 35px;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .skills__ratings-item {
    grid-template: minmax(21px, auto) 24px/200px 30px;
    margin-bottom: 30px;
  }
}
.skills__ratings-title {
  position: relative;
  padding-left: 13px;
}
.skills__ratings-title:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
@media (max-width: 1200px) {
  .skills__ratings-title {
    margin-bottom: 20px;
  }
}
.skills__ratings-counter {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
}
.skills__ratings-line {
  width: 350px;
  height: 14px;
  background-color: #e8e4de;
  border-radius: 4px;
  grid-column: 1/3;
}
@media (max-width: 1200px) {
  .skills__ratings-line {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .skills__ratings-line {
    width: 250px;
  }
}
.skills__ratings-line span {
  display: block;
  height: 100%;
  background-color: #FFA501;
  border-radius: 4px;
}

.portfolio__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template: repeat(2, 280px)/repeat(4, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
}
@media (max-width: 1024px) {
  .portfolio__wrapper {
    grid-template: repeat(2, 200px)/repeat(4, 200px);
  }
}
@media (max-width: 992px) {
  .portfolio__wrapper {
    grid-template: repeat(2, 175px)/repeat(4, 175px);
  }
}
@media (max-width: 768px) {
  .portfolio__wrapper {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    gap: 20px;
  }
}
.portfolio__wrapper .big-photo {
  grid-column: 2/4;
}
.portfolio-item img {
  transition: all 0.6s;
}
@media (max-width: 768px) {
  .portfolio-item img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
}
.portfolio-item img:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 0px rgb(201, 194, 214);
}

.price .divider {
  margin: 30px auto;
}
.price__wrapper {
  padding: 0 60px;
  display: grid;
  grid-template: repeat(3, minmax(0px, auto))/repeat(2, 376px);
  grid-auto-rows: minmax(45px, auto);
  -moz-column-gap: 296px;
       column-gap: 296px;
  row-gap: 12px;
}
@media (max-width: 992px) {
  .price__wrapper {
    grid-template-columns: repeat(auto-fit, 350px);
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 321px) {
  .price__wrapper {
    grid-template-columns: repeat(auto-fit, 265px);
  }
}
.price__item {
  position: relative;
  display: grid;
  grid-template: repeat(2, minmax(20px, auto))/repeat(2, auto);
  row-gap: 5px;
  padding-left: 25px;
}
.price__item:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFA501;
  border-radius: 100%;
  position: absolute;
  top: 5px;
}
.price__type, .price__count {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.price__count {
  justify-self: end;
}
.price__descr {
  grid-column: 1/3;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 400px 585px;
  -moz-column-gap: 66px;
       column-gap: 66px;
  padding: 0 35px 0 52px;
}
@media (max-width: 1025px) {
  .contacts__wrapper {
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 0;
  }
}
.contacts h2 {
  margin: 6px 0 4px;
}
@media (max-width: 768px) {
  .contacts h2 {
    font-size: 24px;
  }
}
.contacts p {
  font-weight: bold;
  margin: 19px 0 18.3px;
}
.contacts__content .divider {
  margin: 0;
}
@media (max-width: 768px) {
  .contacts fieldset {
    margin-bottom: 28px;
  }
}
@media (max-width: 426px) {
  .contacts fieldset {
    width: 90%;
  }
}
.contacts input {
  border: 0;
}
.contacts .text-field {
  border: 0;
}
.contacts__link {
  margin-right: 19px;
  text-decoration: none;
}
.contacts__form {
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  row-gap: 32px;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .contacts__form {
    grid-template: 45px 208px 45px/repeat(2, 268px);
    justify-content: start;
  }
}
@media (max-width: 768px) {
  .contacts__form {
    display: block;
  }
}
.contacts .text, .contacts .email {
  height: 40px;
  margin-bottom: 5px;
  margin-right: 0;
}
.contacts .textarea {
  grid-column: 1/3;
  height: 180px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .contacts .textarea {
    width: 92%;
  }
}
@media (max-width: 426px) {
  .contacts .textarea {
    width: 90%;
    height: 143px;
  }
}
.contacts .textarea textarea {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .contacts__photo {
    display: none;
  }
}
.contacts_policy {
  display: flex;
  align-items: center;
  font-size: 12px;
}
@media (max-width: 426px) {
  .contacts_policy {
    margin-bottom: 20px;
  }
}
.contacts .button_wrapper {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 426px) {
  .contacts .button_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 426px) {
  .contacts .social_text {
    width: 301px;
  }
}

body {
  font-size: 14px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class*=col-] {
  position: relative;
  padding: 0 15px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3%;
}

.col-4 {
  width: 25%;
}

.divider {
  width: 55px;
  height: 3px;
  background-color: #FFA501;
  margin: -5px auto 0;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
}

.section__header {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .section__header h2 {
    font-size: 24px;
  }
}

.subtitle {
  position: relative;
}
.subtitle:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFA501;
  z-index: -1;
}
.subtitle:before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */